Django>=6.0,<6.1
djangorestframework>=3.15,<3.16
django-environ>=0.11,<0.12
django-cors-headers>=4.4,<4.5
psycopg2-binary>=2.9,<2.10
requests>=2.32,<2.33
celery>=5.4,<5.5
redis>=5.0,<5.1
Pillow>=10.4,<10.5
django-ckeditor-5>=0.2.15,<0.3
gunicorn>=22.0,<22.1
whitenoise>=6.7,<6.8
